@model IEnumerable<SportApplication.Models.Tournament_ViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Available tournaments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="display:none;">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SportName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="display:none;">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SportName)
            </td>
            <td>
                @Html.ActionLink("See events", "Index", "Event", new { item.Id }) <!--|
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })-->
            </td>
        </tr>
}
    </tbody>
</table>
